.inter-logo-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


.raleway-global-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0px;
}




/* Global Styles */
.global-btn {
    background-color: #4E47FF;
    border-radius: 10px;
}

.glob-font {
    font-family: "Raleway", sans-serif;
}



.bg-color {
    background-color: #F5F8FF;
}

/* Hero Section styles starts */
/* -------------------------------------- */


.hero-section {
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;

}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;

}

.nav-logo {
    font-size: 34px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: 900px;
    margin-top: 30px;
    ;
}

.nav-btn {
    height: 48px;
    width: 132px;
    margin-top: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.banner {
    text-align: center;
    margin-top: 280px;
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;

}

.ban-button-continer {
    margin-top: 0px;
}

.banner-btn {
    height: 48px;
    width: 147px;
    margin-top: 25px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

/* Hero Section styles ends*/
/* --------------------------------------------------- */


/* Section-1 (See it in Action) and image  starts */
/* --------------------------------------------------- */

section {
    display: flex;
    align-items: center;
    justify-content: center;
}


.action-container {

    width: 1140px;
    height: 328px;
    margin: 116px 159px 0px 141px;
    display: flex;
    gap: auto;
    justify-content: space-between;
    padding: 0px;



}

.action-position {
    margin-top: 62.5px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;


}

.action-sub-title {
    color: rgba(37, 36, 50, 0.5);
    font-family: "Raleway", sans-serif;
    line-height: 30px;
    margin-top: 30px;
    font-size: 24px;

}

.action-btn {
    color: #F5F8FF;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    width: 229px;
    height: 48px;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    border: none;
    margin-top: 30px;


}


.action-image {
    width: 403px;
    height: 328px;
    border-radius: 48px;



}

.action-image img {

    border-radius: 48px;
}


/* Product Users Section Styles starts */



.product-user-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-users-container {

    background-color: #E5E7FF;
    height: 306px;
    width: 1140px;
    border-radius: 10px;
    margin: 116px 159px 0px 141px;

}

.product-users-title {
    text-align: center;
    margin-top: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}


.product-parent-tag {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 142px;
    padding-right: 142px;
    margin-top: 40px;


}

.statistics {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.statistics-title {
    font-family: "Inter", sans-serif;
    font-size: 20;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}


/* Product Users Section Styles ends */

/* ----------------------------------------- */


/* Cards Section Starts */



section {
    display: flex;
    align-items: center;
    justify-content: center;


}

.user-container-section {
    background-color: white;
    width: 1140px;
    height: 342px;
    /* this margin is custom margin  */

    margin-top: 137px;
    /* this margin is custom margin  */
    background-color: rgba(245, 248, 255, 1);



}



.heading {
    margin-top: 0px;
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    gap: 24px;

    height: 243px;

}

.card {
    height: 243px;
    width: 366.67px;
    background-color: white;
    padding: 24px;
    box-sizing: border-box;

}

.card-stars-img {
    margin-bottom: 24px;
}


.card-title {
    margin-bottom: 24px;
    font-size: ;
    font-weight: bold;
    font-family: "Raleway", sans-serif;

}

.card-description {
    font-size: ;
    color: #514E4E;
    font-weight: ;
    font-family: "Raleway", sans-serif;
    margin-bottom: 24px;
}

.icon {
    display: flex;
    gap: 12px;
}

.icon img {
    border-radius: 50px;

    height: 40px;
    width: 40px;
}

.icon-text {
    box-sizing: border-box;

}

.icon-name {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #514E4E;
}


.icon-date {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #858282;
}


/* Ready to focus section starts */
.focus-section {
    height: 696.77px;
    width: 1140px;
    margin-top: 137px;
}

.focus-heading {
    font-size: 50px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.focus-description {
    color: rgba(66, 66, 66, 0.5);
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;

}

.focus-section img {
    border-radius: 48px;
    height: 364.77px;
    width: 840px;
    margin: 88px 150px 71px 150px;


}

/* Ready to focus section starts */